html {
    animation:      fade-in 2s;
    background:     rgb(233, 222, 255);
    box-shadow:     inset 0 0 128px rgb(33, 16, 33);
    color:          rgb(33, 16, 33);
    font-family:    Arial, Helvetica, sans-serif;
    font-size:      16pt;
    min-height:     100%;
    min-width:      100%;
    text-align:     center;
    vertical-align: middle;
}

body {
    margin-top: 128px;
}

a {
    color:  rgb(17,8,136);
}

button {
    -webkit-appearance: none;
    background:         rgb(33, 16, 33);
    color:              rgb(233, 222, 255);
    font-size:          75%;
    height:             32px;
}

.information {
    color:      rgb(133,119,144);
    font-size:  75%;
}

#content {
    font-size:  150%;
}

#result {
    display:    block;
    font-size:  200%;
}

#reroll {
    font-size:  100%;
    height:     64px;
}

@keyframes fade-in {
    from {
        opacity:    0;
    }

    to {
        opacity:    1;
    }
}
