html {
    background: rgb(233, 222, 255);
    color: rgb(33, 16, 33);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    text-align: center;
    box-shadow: inset 0 0 128px rgb(33, 16, 33);
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    vertical-align: middle;
    top: 128px;
    animation: fade-in 2s;
}

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.aesthetic-description {
    font-size: 24pt;
}

#generated-aesthetic {
    display: block;
    font-size: 48pt;
}

#regenerate {
    -webkit-appearance: none;
    background: rgb(33, 16, 33);
    color: rgb(233, 222, 255);
    height: 64px;
    font-size: 16pt;
}
